@font-face {
  font-family: customfont;
  src: url(/static/style/SpecialElite-Regular.ttf) format("truetype");
  font-size: medium;
}
html {
  box-sizing: border-box;
}

:root {
  font-family: customfont;
}

body {
  margin: 0;
  background-color: whitesmoke;
  background-image: radial-gradient(currentColor 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
  width: auto;
  height: 100%;
}

.mainbody {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  width: auto;
  border-radius: 10px;
  opacity: 98%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0);
}

.IP input {
  border-radius: 10px;
}

.Links li {
  list-style: none;
}

.header .IP,
.links {
  margin-left: 5%;
  margin-right: 5%;
}

.countersdata {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  border-style: solid;
  padding: 10px 10px;
  border-radius: 10px;
}

.countersdata span {
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
}

#yearly {
  background-color: yellow;
}

#daily {
  background-color: greenyellow;
}

#monthly {
  background-color: orange;
}

.counters {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  width: auto;
  border-radius: 10px;
  opacity: 98%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0);
}

.autoscaling {
  margin-left: 5%;
  margin-right: 5%;
}
.Infotable {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  border-color: black;
  border-radius: 10px;
  background-color: Black;
  color: whitesmoke;
  border-style: dotted;
  border-color: whitesmoke;
}
.Infotable th {
  background-color: Black;
  color: whitesmoke;
}

.deploymenthistory {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  height: auto;
  width: auto;
  border-radius: 10px;
  opacity: 98%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0);
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }
}
