<!doctype html>
<html>

<head>
   <title>Main Form</title>
   <link rel="stylesheet" type="text/css" href="/static/style/form.css">
   <link rel='stylesheet' href="{{ url_for('static', filename='style/fontawesome/css/all.css')}}">

   <head>

   <body class="pattern-vertical-stripes-lg">
      <form action="/MainForm.html" method="POST" enctype="multipart/form-data">
         <div class="mainbody">
            <div class="header">
               <div class="IP">
                  <Label>Your IP:</Label>
                  <input type="text" name="IPAdd" id="IPAdd" value="">
               </div>
               <div class="links">
                  <ul>
                     <li><a href="#">How to Participate</a></li>
                     <li><a href="#">Client Software</a></li>
                     <li><a href="#">Registering your certificate</a></li>
                  </ul>
               </div>
            </div>
            <div class="counters" style="height:200px;">
               <div class="countersdata">
                  <label for="">Daily Count <span id="daily">{{CounterDataHTML[0]}}</span></label>
                  <label for="">Monthly Count <span id="monthly">{{CounterDataHTML[1]}}</span></label>
                  <label for="">Yearly Count <span id="yearly">{{CounterDataHTML[2]}}</span></label>
               </div>
               <div class="autoscaling" >
                  <h4>Auto-Scaling</h4>
                  <div style="overflow-y: scroll;overflow-x: hidden;height:100px; width: 200px">
                  <table border=1 class="Infotable" id="Infotable" width=100%>
                     {% if AutoScaleDataHTML != null %}
                     {% for x in AutoScaleDataHTML %}
                     <tr>
                        <td>{{x.0}}</td>
                     </tr>
                     {% endfor %}
                     {% endif %}
                     
                  </table>
                 </div>
               </div>
            </div>


            <div class="deploymenthistory">
               <h2>Deployment History</h2>
               <a class="export" onclick="exportData()" href="#" align="left"><i class="fas fa-file-export"
                     style="font-size:24px" color="black"></i>
                  Download list</a>
               <div style=" overflow-y: scroll;height:300px; width: 100%;">

                  <table border=1 class="Infotable" id="Infotable" width=100%>
                     <th>Date</th>
                     <th>Time</th>
                     <th>Type</th>
                     <th>Version Tag</th>
                     <th>Environment</th>
                     {% if FormDataHTML != null %}
                     {% for x in FormDataHTML %}
                     <tr>
                        <td>{{x.0}}</td>
                        <td>{{x.1}}</td>
                        <td>{{x.2}}</td>
                        <td>{{x.3}}</td>
                        <td>{{x.4}}</td>
                     </tr>
                     {% endfor %}
                     {% endif %}

                  </table>
               </div>
            </div>
         </div>
      </form>
      <script type="text/javascript" src="/static/downloadFile.js?newversion"></script>
   </body>

</html>